.searchInput {
  height: 20px;
  width: 200px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.top {
  border: 1px solid;
  margin: 25px;
  width: 150px;
  height: 250
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}
